@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


:root {
    --primary: #ffffffd8;
    --secondary: #1a1919;
    --accent: #58cada;
    --afont: #fff;

}

/* basic */

* {
    margin: 0;
    padding: 0;
    line-height: 2em;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    /* display: flex; */
}

html {
    font-size: large;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    scroll-behavior: smooth;
}

body a {
    text-decoration: none;
    color: var(--afont);
}

/* super */

#super {
    display: flex;
}

#super h1 {
    font-size: 2.5em;
}

.cursor-1{
    position: absolute;
    top:0; left:0;
    height:1rem; width:1rem;
    background: var(--secondary);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-2{
    position: absolute;
    top:0; left:0;
    height:3.5em; width:3.5em;
    border:.1rem solid var(--secondary);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}

.cursor-2.active{
    display: none;
}

/* sidebar */

#sidebar {
    /* border: 1px solid red; */
    position: fixed;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:teal;
    color: var(--afont);
}

#sidebar a {
    color: var(--afont);
}

#side-prof {
    /* border: 1px solid brown; */
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav {
    /* border: 1px solid purple; */
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
/* #nav a{
    display: block;
	padding: 0.5em 1.5em 0.5em 1.5em;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	outline: 0;
	border: 0;
	-moz-transition: none;
	-webkit-transition: none;
	-ms-transition: none;
	transition: none; 
    
}

#nav a{
    color: red;
} */
.contact {
    /* border: 1px solid green; */
    width: 90%;
    margin: auto;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact a {
    font-size: 23px;
}

/* main */

#main {

    width: 75%;
    clear: both;
    padding-left: 25%;
    /* background-color: rebeccapurple; */
    /* border: 1px solid maroon; */
    /* background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 209, 67, 1) 0%, rgba(255, 145, 83, 1) 90%); */

     /*background-color: #FBAB7E; */
    /* background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); */
    
    /*
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    */
    /*
    background: linear-gradient(-55deg,white,#23D5AB,white);
    */
    background-color: lightcyan;
}


/* intro */

#intro {
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

#intro h1 {
    font-size: 3em;
}

#intro span>p:nth-child(2) {
    font-size: 1.5em;
}

#intro span>p:nth-child(3) {
    font-size: 1em;

}


.btn-grad {
    /*
    background-image: linear-gradient(to right, #000000 0%, #434343 51%, #000000 100%);
    */
    margin: 15px 0;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    
    background-color: teal;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


/* about me */
#aboutme {
    width: 80%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /* border: 1px solid green; */
}

#aboutme a {
    text-transform: lowercase;
    color: #1a1919;
    /* border: 1px solid rebeccapurple; */

}

#aboutme h1 {
    width: 100%;
    /* border: 1px solid rebeccapurple; */
}

#aboutme>span:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

#aboutme>span:nth-child(2) img {
    width: 20em;
    height: 20em;
    border-radius: 5%;
    border: transparent;
}

#aboutme>span:nth-child(3) {
    /* border: 1px solid salmon; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#aboutme>span:nth-child(3) span {
    font-weight: bolder;
    font-style: oblique;
}

/* techstack */

#techstack {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#techstack h1 {
    width: 80%;
}

#techstack img {
    width: 100%;
    /* border: 1px solid saddlebrown; */
}

/* #techstack>span:last-child span {
    border: 1px solid salmon;
    border-radius: 5%;
    background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

    background-color: var(--afont);
} */


#techstack>span:last-child span {
    /* border: 1px solid salmon; */
    border-radius: 5%;
    /* background-color: #21D4FD; */
    /* background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); */

    background-color: var(--afont);
}

#techstack>span:last-child {
    width: 70%;
    /* border: 1px solid slateblue; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}

#techstack span:nth-child(2) span {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}


/* skills */

#skills {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid brown; */
}

#skills>h1 {
    width: 80%;
}

#skills>span:nth-child(2) {
    display: flex;
    width: 80%;
    flex-direction: column;
    /* border: 1px solid slateblue; */
    justify-content: space-around;
    gap: 35px;
}

#skills>span:nth-child(3) {
    display: flex;
    width: 80%;
    /* border: 1px solid slateblue; */
    justify-content: space-between;
    gap: 35px;
}


/* projects */



#projects {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10vh;
}

#projects h1 {
    /* padding-top: 10%; */
    width: 80%;
}

#projects img {
    width: 90%;
}

#projects>div {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;

}

#projects p>span {
    font-style: oblique;
    font-weight: bolder;
    font-size: 1.1em;
}

#projects>div>span>p {
    width: 100%;
}

#projects>div>span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* first */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    /* second */
    /* background-color: #FBAB7E; */
    /* background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); */

    /* background-color: #FAD961; */
    /* background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%); */

    /* background-color: #21D4FD; */
    /* background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); */

    border-radius: 5%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
    /* border: 1px solid brown; */

    gap: 1em;
    padding: 2em;
}

#projects>div>span>span {
    display: flex;
    /* border: 1px solid black; */
    width: 80%;
    justify-content: space-around;
}

#projects .btn-grad {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: 3em;
}

#projects p>.normal-high {
    font-size: 1em;
    color: rgb(59, 57, 57);

}

/* contact */

#contact {
    display: flex;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#contact>span {
    display: flex;
    width: 80%;
    /* border: 1px solid rebeccapurple; */
    justify-content: space-around;
}

#contact a {
    color: teal;
    font-size: 0.8em;
}

/* for medium screen */
@media (max-width:1032px) and (min-width:641px) {
    #main {
        width: 100%;
        padding-left: 40%;
        /* padding-left: 0; */
        display: flex;
        flex-direction: column;
        gap: 5em;
        /* display: none; */
    }

    #sidebar {
        width: 40%;
        /* display: none; */
    }

    #aboutme>span:nth-child(2) {
        display: flex;
        flex-direction: column-reverse;
    }

    #aboutme>span:nth-child(2) img {
        width: 20em;
        height: 20em;
        border-radius: 5%;
        border: transparent;
    }

    #techstack>span:last-child {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        /* background-color: rebeccapurple; */
    }

    #techstack img {
        width: 10em;
        height: 8em;
    }

    #skills {
        height: auto;
        width: 100%;
    }

    #projects>div {
        display: flex;
        width: 80%;
        flex-direction: column;
    }


    #projects>div>span>span {
        display: flex;
        /* border: 1px solid black; */
        width: 90%;
        justify-content: space-between;
    }

    #contact a {
        font-size: 0.5em;
    }

}

/* for small screens */

@media (max-width:640px) {


    #super h1 {
        font-size: 1.8em;
    }

    #intro h1 {
        font-size: 2em;
    }

    #main {
        width: 100%;
        padding-left: 0;
        /* display: flex;
        flex-direction: column; */
        /* gap: 5em; */
        /* display: none; */
    }

    #aboutme {
        height: auto;
    }

    #aboutme>span:nth-child(2) {
        display: flex;
        flex-direction: column-reverse;
        padding: 2em 0;
        /* border: 1px solid rebeccapurple; */
    }

    #aboutme>span:nth-child(2) img {
        width: 15em;
        height: 15em;
        border-radius: 5%;
        border: transparent;
    }

    #aboutme>span:nth-child(3) {
        display: flex;
        flex-direction: column;
    }

    #sidebar {
        display: none;
        width: 100%;
    }

    #techstack>span:last-child {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        /* border: 1px solid cyan; */
    }

    #techstack img {
        width: 140px;
        height: 90px;
    }

    #skills {
        height: auto;
        width: 100%;
        row-gap: 2em;
        margin: 2em 0;
    }

    #skills>span:last-child {
        /* border: 1px solid rebeccapurple; */
        display: flex;
        flex-direction: column;
        row-gap: 2em;
    }

    #projects>div {
        display: flex;
        width: 95%;
        flex-direction: column;
    }

    #projects img {
        width: 100%;
    }

    #projects>div>span {
        padding: 1em;
    }

    #projects>div>span>span {
        display: flex;
        /* border: 1px solid black; */
        width: 90%;
        justify-content: space-between;
    }

    #contact a {
        font-size: 0.5em;
    }
}
