/* 
Note : credit for this css : https://codepen.io/veronicadev/pen/yjgjvL
I have just modified the code according to my needs. 
*/


:root {
  --primary: #8c38ff;
  --light: #EEEEEE;
  --dark: #000;
}

#projects>h1 {
  margin-bottom: 50px;
  border-bottom: 3px solid var(--primary);
}


.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 900px;
  max-height: 550px;
  overflow: hidden;
  position: relative;

}

.carousel-item {
  visibility: visible;
  display: flex;
  flex-direction: column-reverse;

  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
  position: relative;
  background-color: #000;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  position: absolute;
  z-index: 0;
  transition: 0.6s all linear;
  /* padding-right: 30px; */
  /* border: 1px solid var(--primary); */

}

.carousel-item__info {
  height: 120%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  -webkit-flex-direction: column;
  /* border: 1px solid var(--primary); */
  order: 1;
  left: 0;
  margin: 0;
  /* padding: 0 40px; */
  padding: 0 15px;
  width: 100%;

}

.carousel-item__image {
  width: 90%;
  text-align: center;
  /* willing to go with h => 80 */
  order: 2;
  align-self: flex-end;
  flex-basis: 60%;
  padding: 50px;
  padding: auto;
  /* border: 1px solid red; */
  -webkit-order: 2;
  -webkit-align-self: center;
  -webkit-flex-basis: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}


.carousel-item__subtitle {
  letter-spacing: 3px;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
  color: #7E7E7E;
  font-weight: 700;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease-in-out;
}

.carousel-item__title {
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 3px;
  font-weight: 700;
  /* color: #2C2C2C; */
  color: var(--primary);
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  margin: auto;
  /* border: 1px solid var(--primary); */
}

.carousel-item__description {
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  font-size: 15px;
  color: var(--light);
  line-height: 22px;
  /* border: 1px solid var(--primary); */
  margin: 40px 0;



}

.carousel-item--1 .carousel-item__image {
  background-image: url('../images/projects/coschedule.png');
}


.carousel-item--2 .carousel-item__image {
  background-image: url('https://images.pexels.com/photos/921294/pexels-photo-921294.png?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.carousel-item--3 .carousel-item__image {
  background-image: url('https://images.pexels.com/photos/92733/pexels-photo-92733.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.carousel-item--4 .carousel-item__image {
  background-image: url('https://images.pexels.com/photos/1008732/pexels-photo-1008732.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.carousel-item--5 .carousel-item__image {
  background-image: url('https://images.pexels.com/photos/1029614/pexels-photo-1029614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.carousel-item__btn {
  color: var(--light);
  letter-spacing: 3px;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0;
  width: 35%;
  font-weight: 700;
  text-decoration: none;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  /* border: 1px solid var(--primary); */
}

.carousel__nav {
  position: absolute;
  right: 0;
  z-index: 2;
  background-color: #fff;
  bottom: 0;
}

.carousel__icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  fill: #5d5d5d;
}

.carousel__icon:hover {
  font-weight: 600;
  width: 20px;
  fill: var(--primary);
}

.carousel__arrow {
  cursor: pointer;
  display: inline-block;
  padding: 11px 15px;
  position: relative;
}

.carousel__arrow:nth-child(1):after {
  content: '';
  right: -3px;
  position: absolute;
  width: 1px;
  background-color: #b0b0b0;
  height: 14px;
  top: 50%;
  margin-top: -7px;
}

.active {
  z-index: 1;
  display: flex;
  visibility: visible;
}

.active .carousel-item__subtitle,
.active .carousel-item__title,
.active .carousel-item__description,
.active .carousel-item__btn {
  transform: translateY(0);
  opacity: 1;
  transition: 0.6s all ease-in-out;
  visibility: visible;
}



.active .carousel-item__image {
  transition: 0.6s all ease-in-out;
  transform: translateX(0);
}


@media (min-width:768px) {
  .carousel-item {
    flex-direction: row;
    /* border: 3px solid var(--primary); */
  }

  .carousel-item__info {
    height: 80%;
  }

  .carousel-item__image {
    width: 80%;
    height: 100%;
  }

  .carousel-item__subtitle {
    font-size: 13px;
  }

  .carousel-item__title {
    font-size: 30px;
    line-height: 45px;
  }

  .carousel-item__description {
    margin: 30px 0;
  }

  .carousel__nav {
    right: unset;
    left: 0;
  }
}

@media (max-width:420px) {}

@media (max-height:800px) {
  .carousel-item__description {
    margin: 20px 0;
  }
}